* {
    margin: 0;
    padding: 0;
    border: none;
    scroll-behavior: smooth;
}

body {
    font-family: Orbitron;
    background-color: rgb(53, 53, 53);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.numbers {
    font-size: 3rem;
    color: #39ff14;
    border: 3px #39ff14 solid;
    border-radius: 20px;
    background-color: rgb(45, 45, 45);
    margin-bottom: 35px;
}

.btns {
    font-size: 16px;
    margin-left: 20px;
    padding: 10px 30px;
    cursor: pointer;
    transition: .3s;
    border-radius: 5px;
    font-family: Poppins;
    font-weight: 600;
}

.btns:hover {
    background-color: #59fc38;
    color: rgb(45, 45, 45);
    transform: scale(1.1) perspective(1px);
    opacity: 0.8;
}

#title {
    font-size: 7rem;
    font-family: Poppins;
    color: #59fc38;
    margin-bottom: 35px;
}